.container {
  margin: 0 auto;
  text-align: center;
}

.pokemon-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 15rem);
  grid-template-rows: 20rem;
  justify-content: center;
  grid-gap: 1.5rem;
  grid-auto-rows: minmax(20rem, auto);
  grid-auto-flow: row;
  grid-auto-columns: 5rem;
}

.pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  &__image-container {
    flex: 1;
    img {
      max-width: 100%;
      height: auto;
    }
  }

  &__name {
    flex: 3rem;
  }
}
